/* styles/results.module.css */
.container {
    position: relative;
    padding: 20px;
    background: url('../public/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.category {
    margin-bottom: 20px;
    width: 100%;
}

.category h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    margin-bottom: 5px;
}

.homeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007ac4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.homeButton:hover {
    background-color: #005f8c;
}

.passed {
    color: green;
    font-weight: bold;
}

.failed {
    color: red;
    font-weight: bold;
}

.summary {
    color: #007ac4;
}
