/* results.module.css */
.container {
    position: relative;
    padding: 20px;
    background: url('../public/background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
    font-family: "Exo 2", serif;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #459dd7;
    font-family: "Exo 2", serif;
}

.familyContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Exo 2", serif;
    color: #459dd7;
}

.familySquare {
    flex: 1;
    padding: 20px;
    margin: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.familySquare:hover {
    transform: scale(1.05);
}

.subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    color: #00060d;
    font-family: "Exo 2", serif;
}

.list {
    list-style-type: none;
    padding: 5px;
}

.listItem {
    margin-bottom: 10px;
    font-family: "Exo 2", serif;
}

.listItem li {
    cursor: pointer;
    transition: color 0.2s;
}

.listItem li:hover {
    color: #3797d5;
}

.homeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007ac4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Exo 2", serif;
}

.homeButton:hover {
    background-color: #005f8c;
}

.passed {
    color: green;
    font-weight: bold;
}

.failed {
    color: red;
    font-weight: bold;
}

.summary {
    color: #007ac4;
}

.details {
    margin-top: 20px;
}

.minimizeButton {
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Exo 2", serif;
}

.minimizeButton:hover {
    background-color: #bbb;
}

.testDetails {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 50vw;
}

.suggestFixButton {
    margin-top: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
    background-color: #007ac4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Exo 2", serif;
}

.suggestFixButton:hover {
    background-color: #005f8c;
}

.closeButton {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Exo 2", serif;
}

.closeButton:hover {
    background-color: #bbb;
}

.suggestion {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Exo 2", serif;
}
